# Puerto del servidor (Por defecto: 4000)
PORT=4000

# URL de conexión a la base de datos PostgreSQL / Neon DB
# Formato: postgresql://[usuario]:[contraseña]@[host]:[puerto]/[base_de_datos]?sslmode=require
DATABASE_URL="postgresql://neondb_owner:npg_vdBs80ypPNAz@ep-shiny-brook-am6tqxlb-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=requir"

# Configuración de JWT (Para autenticación de usuarios)
JWT_SECRET="tu_clave_secreta_super_segura_aqui"
JWT_EXPIRES_IN="7d"
